* {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    height: 600px;
    width: 80%;
    margin: auto;
}

.carousel-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel-container {
    background: lightskyblue;
    height: 100%;
    position: relative;
}

.carousel-inner {
    padding: 0;
    margin: 0;
    list-style: none;
}

.carousel-item {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;

}

.carousel-button-right, .carousel-button-left {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    border: 0;
    cursor: pointer;
}

.carousel-button-left {
    left: -35px;
}

.carousel-button-right {
    right: -35px
}

.carousel-button-right i, .carousel-button-left i {
    width: 20px;
}

.carousel-nav {
    display: flex;
    justify-content: center;
    padding: 10px 0 
}

.carousel-indicator {
    border: 0;
    border-radius: 50%;
    width: 15px;
    height: 15px;
    background: rgba(0, 0, 0, 0.3);
    margin: 0 12px;
}

.carousel-indicator.current-slide {
    background: rgba(0, 0, 0, 0.75);
}

body {
     background-color:white;  
     /* background-image: url("../images/Hero-image.jpg"); */

}

h3 {
     color: black;
     text-align: center;background-color: silver;

}

header {
    padding: 20px 35px;
    background-color: var(--teritary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-image: url("../images/Hero-image.jpg");
    background-size: cover;
    background-position: 80%;
    background-attachment: fixed;
    z-index: 9999;
}

.hero {
    background-position: bottom;
    height: auto;
    text-align: center;
    margin-bottom: 40px;
    padding: 74px;
    background-attachment: fixed;
    background-size: cover;
    background-position: 80%;
    
}

.hero-cta {
    width: 35%;
    text-align: right;
    margin: 3.5%;
    color: #fff;
    font-size: 18px;
    line-height: 1.2;
}

.hero-cta h2 {
    font-size: 55px;
    font-style: italic;
    color: var(--primary-color);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

nav ul a  {
    font-size: 20px;
}
#current a {
    color: red;
}

nav ul a:hover {
    color: red;
}


#search-bar {
    margin-left: 30px;
}

input {
    color: white
}

.pagination {
    font-size: 30px;
    
}

.pagination a {
    color: black;
}

#btn-span {
    position:relative;
    display:inline-block;
   
}
.watch-btn, .remove-btn {
    margin-bottom: 22px;
}


#release-date{
    font-size: 32px;
}



.collapsible:focus {
    background-color: red;
}

/* next lines of css code came from w3 schools */
.collapsible {
    background-color:black;
    color: white;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
 .collapsible:hover {
    background-color:red;
  }

  .collapsible:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
  }
  
  .clicked:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#most-popular, #new-releases, #critically-acclaimed, #watch-list, #search-results {
    text-align: center;
}
  
@media screen and (max-width: 1460px) and (min-width: 993px) {
#logo {
    display: none;

}
    
}

@media screen and (max-width: 992px)  {
    .hide-temp {
        display: none
    }

    iframe, img {
        width: inherit;
    }

    #release-date, h1 {
        text-align: center;
    }
}





